body {
    
  background-image: url("../img/fondoWeb.png");
  background-size: cover;
  font-family: 'Nanum Gothic', sans-serif;
}

  #fotoSA{

    margin-left: 8%;
    margin-top: 3%;
    width: 320px;
    height: 150px;
  }
  
  #divLogo{
    
    width: 93.5%;
    height: 100%;
    background-color: #444444;

  }
  
  header {
    width: 100%;
    height: 230px;
    background-color: #444444;
  }
  
  div.contenedor {
    width: 60%;
    margin-left: 20%;
    text-align: center;
  }

  div.navegacion nav ul li a{

    text-decoration: none;

  }
  
  .navegacion {
    background-color: #444444;
    width: 100%;
    height: 86px;
    border-bottom: 2px solid black;
  }
  
  nav {
    width: 97%;
    position: relative;
    background-color: #444444;
    margin-left: 3%;
  }
  
  nav ul {
    list-style: none;
  }
  
  nav > ul > li {
    float: left;
  }
  
  nav ul:after {
    content: '';
    display: block;
    clear: both;
  }
  
  nav ul li a {
    display: inline-block;
    width: 150px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    padding: 30px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
  }
  
  nav ul li a:hover {
    background-color: #96def6;
    color: black;
    transition: background-color 1.0s ease-out; 
  }
  
  nav ul ul {
    position: absolute;
    top: 100%;
    background-color: #96def6;
    display: none;
  }
  
  nav ul li:hover > ul {
    display: block;
  }
  
  nav ul li:hover {
    background-color: aqua;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
  }
  
  /** Contenido Principal **/
  div.contenido::after {
    content: '';
    display: block;
    clear: both;
  }
  
  main {
    width: 100%;
    float: left;
  }

  article {
    margin-top: 30px;
  }
  h2 {
    color: #96def6;
    margin-bottom: 20px;
  }
  article img {
    float: left;
    width: 300px;
    margin-right: 30px;
  }
  article p {
    line-height: 2;
    text-align: justify;
  }
  .boton {
    background-color: #96def6;
    padding: 10px 30px;
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
  }

  footer {
    background-color: #444444;
    height: 247px;
    padding-top: 40px;
    margin-top: 50px;
    border-top: 2px solid black;
  }
  footer h2 {
    color: #ffffff;
  }
  footer .contenedor::after {
    content: '';
    display: block;
    clear: both;
  }
  footer div.menu {
    float: left;
    width: 40%;
    text-align: right;
  }

  footer nav {
    width: 47%;
  }

  footer nav ul li a {
    width: auto;
  }

  p.copyright {
    padding: 20px 0;
    text-align: center;
    color: #ffffff;
  }

  #frmIngreso form{

    opacity: 0.9;
    width: 40%;
    height: 300px;
    position: fixed;
    border-radius: 30px;
    background-color: #96def6;
    font-weight: bold;  
    margin-left: 22%;
    top: 200px;
  }

  #divForm{
    width: 60%;
    height: 80%;
    margin-left: 20%;
  }

  #cajasDatos{

    height: 50%;
    width: 70%; 
    margin-left: 15%;
  }

  #divBotones{
    margin-left: 17%;
    width: 65%;
    height: 20%;
  }

  #cajasDatos input{
    margin-right: 3%;
  }

  div#frmIngreso p{

    margin-top: 50px;
    color: white;

  }

  #btnIngresar{

    margin-top: 2%;
    float: right;

  }

  .nosotrosImg{

    width: 100%;
    margin-bottom: 15px;
  
  }

  .IconosFormacion{

    width: 25%;
    height: 75%;
    float: left;
    margin-top: 5%;
    margin-right: 8%;
    text-align: center;
    border: 2px solid black;

  }

  .imagenFormacion{
    width: 95%;
    height: 85%;
  }

  #divLogosFormacion{

    margin-left: 8%;
    height: 300px;
  }

  #volverArriba{
    text-decoration: none;
  }
  
  .divRed{
    width: 16%;
    height: 44%;
    float: left;
    text-align: center;
    margin-left: 3%;
    margin-top: 7%;
  }
  
  .red{
    width: 75%;
    height: 100%;
    background-color: #444444;
  }
  
  .divRed :hover{
    border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    background-color: rgba(255, 255, 255);
    transition: background-color 1.0s ease-out; 
  }

  #divRedes{
    background-color: #444444;
    width: 24%;
    height: 84px;
    float: left;
    margin-left: 16%;
  }

  .seccionesMenu{
    margin-top: 15%;
    margin-bottom: 15%;
  }