html{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("../img/fondoWeb.png");
  background-size: cover;
  font-family: 'nunito', cursive;
}

@media (min-width: 768px){
  .col-md-4 {
    max-width: 100%;
    margin: 0;
    padding: 0;
  } 

  img{
    width: 100%;
  }
}

#loadPage {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: black;
  top: 0;
  left: 0;
  z-index: 1000;
}

#divCarga {
  width: 400px;
  position: relative;
  margin: auto;
  margin-top: 12%;
}

#ulNav{
  margin-left: 5%;
  display: flex;
  align-items: center;
}

#spinnerCarga{
  float: left;
  width: 30%;
  position: relative;
  margin-left: 35%;
  margin-top: 3%;
}

  #fotoSA{

    margin-left: 8%;
    margin-top: 3%;
    width: 300px;
    height: auto;
  }

  h2{
    font-weight: bold;
  }


  #divLogo{
    height: 100%;
    padding-bottom: 4%;
  }
  
  #divLogo :hover{
    cursor: pointer;
  }

  header {
    width: 100%;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url("../img/bannerPc.jpg");
    background-size: cover;
  }

  a:hover{
    color: white;
  }
  
  nav {
    width: 100%;
    position: relative;
    float: left;
    background-color: black;
    box-shadow: 1px 30px 30px 5px rgba(0,0,0,0.75)
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0.1%;
  }
  
  nav > ul > li {
    width: 15%;
    float: left;
    height: 100%;
    position: relative;
  }
  
  nav ul:after {
    content: '';
    display: block;
    clear: both;
  }
  
  nav ul li a {
    display: inline-block;
    width: 100%;
    color: white;
    text-decoration: none !important;
    text-align: center;
    font-weight: 700;
    padding: 30px;
  }
  
  nav ul li a::before{
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background-color: #22abc9;
    position: absolute;
    left: 50%;
    bottom: 0;
    transition: all .3s;
  }

  nav ul li a:hover::before{
    width: 100%;
    left: 0;
  }

  nav ul li a::after{
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background-color: #22abc9;
    position: absolute;
    left: 50%;
    top: 0;
    transition: all .4s;
  }

  nav ul li a:hover::after{
    width: 100%;
    left: 0;
  }
  
  nav ul ul {
    position: absolute;
    top: 100%;
    background-color: #22abc9;
    display: none;
  }
  
  nav ul li:hover > ul {
    display: block;
  }
  
  /** Contenido Principal **/

  div.contenido::after {
    content: '';
    display: block;
    clear: both;
  }

  .item{
    width: 100%;
  }
  
  main {
    width: 100%;
    float: left;
  }

  #menus{
    float: left;
    margin-left: 7%;
    width: 100%;
  }

  article {
    margin-top: 30px;
  }
  h2 {
    color: #22abc9;
    margin-bottom: 20px;
  }

  article p {
    line-height: 2;
    text-align: center;
  }
  .boton {
    background-color: #22abc9;
    padding: 10px 30px;
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
  }

  footer {
    background-color: black;
    width: 100%;
    height: auto;
    padding-top: 40px;
    padding-bottom: 10px;
    border-top: 2px solid black;
    float: left;
  }
  footer h2 {
    color: #ffffff;
  }

  footer div.menu nav{
    box-shadow: 0px 0px 0px 0px transparent;
    float: left;
    width: 100%;
    text-align: right;
  }

  footer nav {
    width: 100%;
  }

  p.copyright {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    color: #ffffff;
    float: left;
  }

  #frmIngreso form{

    opacity: 0.9;
    width: 40%;
    height: 300px;
    position: fixed;
    border-radius: 30px;
    background-color: #22abc9;
    font-weight: bold;  
    margin-left: 22%;
    top: 200px;
  }

  #divForm{
    width: 60%;
    height: 80%;
    margin-left: 20%;
  }

  #cajasDatos{

    height: 50%;
    width: 70%; 
    margin-left: 15%;
  }

  #divBotones{
    margin-left: 17%;
    width: 65%;
    height: 20%;
  }

  #cajasDatos input{
    margin-right: 3%;
  }

  div#frmIngreso p{

    margin-top: 50px;
    color: white;

  }

  #btnIngresar{

    margin-top: 2%;
    margin-right: 5%;
    float: right;

  }

  .nosotrosImg{

    width: 100%;
    margin-bottom: 15px;
  
  }

  .IconosFormacion{
    width: 100%;
    height: 100%;
    float: left;
    border-radius: 30%;
    border: 2px solid black;
    cursor: pointer;
  }

  .IconosFormacion div{
    margin-top: 5%;
  }

  .imagenFormacion{
    flex: 2;
    width: 50%;
    height: auto;
    margin-top: 20%;
  }

  #liVolverArriba{
    margin-left: 5%;
    text-decoration: none;
  }

  #divLogosFormacion{
    width: 100%;
    height: 400px;
    padding: 10px;
    float: left;
    margin-bottom: 1.5%;
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
  }

  #menuModalidades div article{
    float: left;
    margin-top: 10%;
    width: 100%;
  }

  .divRed{
    width: 16%;
    height: auto;
    float: left;
    text-align: center;
    margin-left: 3%;
  }
  
  .red{
    width: 75%;
    height: 100%;
  }
  
  #divRedes{
    width: 25%;
    float: right;
    margin-left: 10%;
  }

  .seccionesMenu{
    margin-top: 5%;
    margin-bottom: 15%;
    text-align: center;
  }

@media (min-width: 610px) and (max-width: 800px){
  header{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: center;
  }

  #mostrarIconos{
    display: none;
  }
}

@media (max-width: 600px)
{

    body{
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }

    header{
      display: flex;
      background-image: url("../img/bannerPc.jpg");
      background-size: cover;
      width: 100%;
      height: auto;
      justify-content: space-between;
      align-items: center;
    }

    #fotoSA{
      width: 100%;
      height: auto;
      margin: 0;
      margin-top: 5%;
    }
    
    #mostrarIconos{
      width: 10%;
      float: left;
      margin-right: 5%;
      text-align: center;
      padding: 0;
    }

    #myCarousel{
      box-shadow: 0px 0px 50px 21px rgba(0,0,0,0.75);
    }

    .col-md-4 {
      max-width: 100%;
      margin: 0;
      padding: 0;
    } 

    nav{
      padding: 0;
      margin: 0;
    }

    #divLogo{
      width: 50%;
      height: auto;
      padding: 5%;
      margin: 0;
    }

    ul{
      margin: 0;
      padding: 0;
      width: 100%;
    }

    nav > ul > li {
      width: 100%;
      margin: 0;
    }

    #divRedes{
      margin: 0;
      width: 100%;
      padding-bottom: 7%;
      padding-top: 5%;
    }

    .divRed{
      padding: 0;
      width: 12%;
      height: auto;
      margin-left: 6.6%;
      margin-top: 3%;
    }

    nav ul li a {
      display: inline-block;
      width: 100%;
      margin-left: 0;
    }

    main{
      font-size: 16px;
    }

    #divLogosFormacion{
      width: 100%;
      height: auto;
      padding: 0;
      float: left;
      margin-bottom: 1.5%;
      margin-top: 5%;
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 1rem;
      font-size: 14px;
    }

    #menuModalidades div article{
      float: left;
      margin-top: 10%;
    }

    #menuNoticias{
      float: left;
    }

    .IconosFormacion{
      border-radius: 30%;
      height: auto;
    }

    #menus{
      margin: 0;
    }

    #ulNav{
      float: left;
      display: none;
      margin: 0;
      padding-top: 5px;
    }

    #imgFlecha{
      background-color: black;
      transition: transform 0.5s;
    }

    #divCarga {
      width: 90%;
      position: absolute;
      top: 28%;
      bottom: 32%;
      left: 0;
      right: 0;
      margin: auto;
    }

    #liVolverArriba{
      margin-left: 0;
    }

    footer{
      text-align: center;
      margin-top: auto;
    }
}