.Sidebar {
  height: 100%;
  width: 300px;
  background-color: var(--superarte-black);

  &__logo {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 1em;
    padding-top: 1em;

    img {
      height: 100%;
    }
  }

  &__content {
    height: max-content;
    display: flex;
    gap: 15px;
    flex-direction: column;
    padding-top: 2em;

    &__item {
      display: flex;
      align-items: center;
      margin-left: 1em;
      gap: 10px;
      cursor: pointer;

      &__icon {
        color: var(--superarte-green);
      }

      &__label {
        color: var(--superarte-white);
      }

      &--logout {
        position: absolute;
        bottom: 1em;
      }
    }
  }
}
