<app-mobile-sidebar
  [isOpen]="isMobileSidebarOpen"
  (sectionSelected)="toggleSection($event)"
  (close)="toggleMobileSidebar()"
></app-mobile-sidebar>

<main>
  <header class="Header Header--desktop">
    <div class="container">
      <div class="logo" (click)="toggleSection('inicio')">
        <img src="../../assets/superarteLogo.png" alt="Superarte logo">
      </div>
      <div class="sections">
        <span (click)="toggleSection('inicio')" [ngClass]="{'active-light-blue': sectionsColor.inicio}">Inicio</span>
        <span (click)="toggleSection('nosotros')" [ngClass]="{'active-green': sectionsColor.nosotros}">Nosotros</span>
        <span (click)="toggleSection('formacion')" [ngClass]="{'active-violet': sectionsColor.formacion}">Formación</span>
        <span (click)="toggleSection('staff')" [ngClass]="{'active-yellow': sectionsColor.staff}">Staff</span>
        <span (click)="toggleSection('sedes')" [ngClass]="{'active-light-blue': sectionsColor.sedes}">Sedes</span>
      </div>
    </div>
  </header>

  <header class="Header__mobile">
    <div class="Header__mobile__container">
      <div class="Header__mobile__container__logo" (click)="toggleSection('inicio')">
        <img src="../../assets/superarteLogo.png" alt="Superarte logo">
      </div>
      <span class="Header__mobile__container__toggler">
        <mat-icon (click)="toggleMobileSidebar()">menu</mat-icon>
      </span>
    </div>
  </header>

  <section class="section-inicio" [ngStyle]="{'left': sectionsLeft.inicio}">
    <article class="text">
      <div class="words">
        <span>VIDA</span>
        <span>ARTE</span>
        <span>ADORACIÓN</span>

        <div class="yellow-circle"></div>
      </div>
      <div class="btn-login">
        <button *ngIf="false" routerLink="/login">ACCEDER</button>
      </div>
    </article>
    <article class="social">
      <div (click)="navigate('wp')"><img src="../../assets/social/1.png" alt="whatsapp"></div>
      <div (click)="navigate('fb')"><img src="../../assets/social/2.png" alt="facebook"></div>
      <div (click)="navigate('ig')"><img src="../../assets/social/3.png" alt="instagram"></div>
      <div (click)="navigate('tw')"><img src="../../assets/social/4.png" alt="twitter"></div>
      <div (click)="navigate('yt')"><img src="../../assets/social/5.png" alt="youtube"></div>
    </article>

    <article class="idp-logo">
      <img (click)="gotoIdpPage()" src="../../assets/Logo idp.png">
    </article>
  </section>

  <section class="section-nosotros" [ngStyle]="{'left': isMobile ? sectionsLeftMobile.nosotros : sectionsLeft.nosotros}">
    <article class="nosotros">
      <div [ngClass]="{'move-right': showNosotrosPanel}">
        <span>NOSOTROS</span>
      </div>
      <div>
        <span (click)="openNosotrosPanel('mision')">MISIÓN</span>
        <span (click)="openNosotrosPanel('vision')">VISIÓN</span>
        <span (click)="openNosotrosPanel('historia')">HISTORIA</span>
        <span (click)="openNosotrosPanel('pilares')">PILARES</span>
      </div>
      <div class="circles">
        <span class="yellow-circle"></span>
        <span class="violet-outlined-circle"></span>
      </div>
      <div class="panel-nosotros" [ngStyle]="nosotrosPanelStyles" *ngIf="showNosotrosPanel">
        <span class="panel-nosotros-close" (click)="togglePanel('')"><mat-icon>close</mat-icon></span>
        <div class="panel-nosotros-container" [innerHTML]="nosotrosText">

        </div>
      </div>
    </article>
  </section>

  <section class="section-formacion" [ngStyle]="{'left': isMobile ? sectionsLeftMobile.formacion : sectionsLeft.formacion}">
    <article class="formacion">
      <div class="container">
        <div class="container-medios" *ngIf="!isMobile || (isMobile && (getIsActive('medios') || getNoPanelInfoIsActive()))" #medios (click)="expandSection(this['medios'], 'medios')">
          <h2>MEDIOS</h2>
          <img src="../../assets/right arrow.png" [ngStyle]="mediosData.styles">
        </div>
        <div class="container-artes" *ngIf="!isMobile || (isMobile && (getIsActive('artes') || getNoPanelInfoIsActive()))" #artes (click)="expandSection(this['artes'], 'artes')">
          <h2>ARTES VISUALES</h2>
          <img src="../../assets/right arrow.png" [ngStyle]="artesData.styles">
        </div>
        <div class="container-musica" *ngIf="!isMobile || (isMobile && (getIsActive('musica') || getNoPanelInfoIsActive()))" #musica (click)="expandSection(this['musica'], 'musica')">
          <h2>MÚSICA</h2>
          <img src="../../assets/right arrow.png" [ngStyle]="musicaData.styles">
        </div>
        <div class="container-grabacion" *ngIf="!isMobile || (isMobile && (getIsActive('grabacion') || getNoPanelInfoIsActive()))" #grabacion (click)="expandSection(this['grabacion'], 'grabacion')">
          <h2>GRABACIÓN</h2>
          <img src="../../assets/right arrow.png" [ngStyle]="grabacionData.styles">
        </div>
        <div class="container-ministerial" *ngIf="!isMobile || (isMobile && (getIsActive('ministerial') || getNoPanelInfoIsActive()))" #ministerial (click)="expandSection(this['ministerial'], 'ministerial')">
          <h2>MINISTERIAL</h2>
          <img src="../../assets/black right arrow.png" [ngStyle]="ministerialData.styles">
        </div>
      </div>
      <div class="panel-info" [ngStyle]="panelStyle" [innerHTML]="panelText"></div>
    </article>
  </section>

  <section [ngStyle]="{'left': isMobile ? sectionsLeftMobile.staff : sectionsLeft.staff}">
    <article class="staff">
      <div class="images">
        <div>
          <div>
            <img src="../../assets/pastor pedro.jpeg" alt="Pastor Pedro">
          </div>
          <div class="names">
            <span class="title">PASTOR PRINCIPAL:</span>
            <span class="name">PEDRO IBARRA</span>
          </div>
        </div>
        <div>
          <div>
            <img src="../../assets/pastor prieto.png" alt="Pastor Alfredo Prieto">
          </div>
          <div class="names">
            <span class="title">DIRECTOR:</span>
            <span class="name">ALFREDO PRIETO</span>
          </div>
        </div>
      </div>
      <div class="info">
        <div class="info-yellow-circle">
          <div>
            <b>Coordinación general</b>
            <span>Maximiliano y Agustina Martinez</span>
          </div>
          <div>
            <b>Responsable de profesores de música</b>
            <span>Paula Bof</span>
          </div>
        </div>
      </div>
    </article>
  </section>

  <section class="section-sedes" [ngStyle]="{'left': isMobile ? sectionsLeftMobile.sedes : sectionsLeft.sedes}">
    <article class="sedes">
      <div class="content">
        <div class="content__title">
          <img src="../../assets/right arrow.png">
          <h2>Quilmes</h2>
          <span class="blue-line blue-line-1"></span>
        </div>
        <div class="content__info">
          <div>
            <p>E-Mail: institutosuperarte1@gmail.com</p>
            <p>Dirección: Garibaldi 5</p>
            <p>Teléfono: 11 2180-1491</p>
          </div>
        </div>
      </div>
    </article>
  </section>
</main>
