main {
  width: 100%;
  height: 100vh;
  background-image: url(../../assets/bannerPc.jpg);
  background-size: cover;

  .Header {
    padding: 2em 5%;

    &--desktop {
      @media screen and (max-width: 799px) {
        display: none;
      }

      @media screen and (min-width: 800px) {
        display: flex;
      }
    }

    &__mobile {
      height: 80px;
      padding-inline: 20px;

      &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        border-bottom: 2px solid #fff;
        padding-block: 20px;

        &__logo {
          height: 100%;

          img {
            height: 100%;
          }
        }

        &__toggler {
          height: 100%;

          mat-icon {
            color: #fff;
            height: 36px;
            width: 36px;
            font-size: 36px;
          }
        }
      }

      @media screen and (max-width: 799px) {
        display: flex;
      }

      @media screen and (min-width: 800px) {
        display: none;
      }
    }

    .container {
      border-bottom: 2px solid #fff;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 2em 0;
      width: 100%;

      .logo {
        cursor: pointer;

        img {
          width: 20%;
        }
      }

      .sections {
        border-radius: 100px;
        border: 1px solid #fff;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 3em;
        padding: 0 3em;

        span {
          color: #fff;
          font-size: 2em;
          cursor: pointer;
        }

        :nth-child(2):hover, span.active-green {
          color: var(--superarte-green);
        }

        :nth-child(3):hover, span.active-violet {
          color: var(--superarte-violet);
        }

        :nth-child(4):hover, span.active-yellow {
          color: var(--superarte-yellow);
        }

        :nth-child(5):hover, span.active-light-blue, :nth-child(1):hover {
          color: var(--superarte-light-blue);
        }
      }
    }
  }

  section {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-between;
    position: absolute;
    transition: left 300ms ease;

    span {
      font-family: 'Bebas Neue';
      line-height: 1em;
      font-size: 10em;

      @media screen and (max-width: 1370px) {
        font-size: 8em;
      }

      @media screen and (max-width: 799px) {
        font-size: 5em;
      }
    }

    &.section-inicio {
      height: 100%;

      @media screen and (max-width: 799px) {
        flex-direction: column;
        height: -webkit-fill-available;
        justify-content: flex-start;
      }
    }

    &.section-formacion {
      height: 97%;
    }

    &.section-nosotros {
      height: -webkit-fill-available;
      overflow: hidden;
    }

    &.section-sedes {
      height: -webkit-fill-available;
      overflow: hidden;
    }

    h1 {
      color: #fff;
    }

    .idp-logo {
      position: absolute;
      right: 5vw;
      bottom: 36vh;

      img {
        width: 10vw;
      }

      @media screen and (max-width: 799px) {
        bottom: 5vh;
        width: 15vw;
        right: 0;
        left: calc(50% - 10vw);

        img {
          width: 20vw;
        }
      }
    }

    .text {
      margin-left: 5%;
      margin-top: 2.5%;

      @media screen and (max-width: 799px) {
        margin: 20% 2.8em;
      }

      @media screen and (max-width: 375px) {
        margin: 10% 2.8em;
      }

      .words {
        display: flex;
        flex-direction: column;
        position: relative;

        @media screen and (max-width: 799px) {
          margin-bottom: 20%;
        }

        span {
          color: #fff;
          z-index: 10;
        }

        .yellow-circle {
          position: absolute;
          border-radius: 50%;
          background-color: var(--superarte-yellow);
          width: 8vw;
          height: 8vw;
          bottom: 4em;
          right: -6em;
          z-index: 5;

          @media screen and (max-width: 1370px) {
            width: 18vw;
            height: 18vw;
            bottom: 3em;
            right: -2em;
          }
        }
      }

      .btn-login button {
        font-family: 'Bebas Neue';
        font-size: 3em;
        color: #fff;
        padding: .2em;
        width: 100%;
        border-radius: 100px;
        background-color: var(--superarte-green);
        cursor: pointer;

        @media screen and (max-width: 799px) {
          font-size: 2em;
          padding: 0;
        }
      }
    }

    .social {
      height: 50%;
      display: flex;
      flex-direction: column;
      gap: 1em;
      margin-right: 5%;
      margin-top: 3%;

      div {
        height: 14%;
        cursor: pointer;

        img {
          height: 100%;
        }
      }

      @media screen and (max-width: 799px) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        width: 100%;
        height: 100px;
        padding-inline: 12%;
        gap: 0;

        div {
          height: 50px;
        }
      }

      @media screen and (max-width: 375px) {
        div {
          height: 40px;
        }
      }
    }

    .nosotros {
      width: 100%;
      height: 80%;
      display: flex;
      justify-content: center;
      place-items: center;
      position: relative;
      padding: 2em 0;

      @media screen and (max-width: 1370px) {
        height: 85%;
      }

      @media screen and (max-width: 799px) {
        flex-direction: column;
        margin-top: 5%;
      }

      >:nth-child(1) {
        transform: rotate(-90deg) !important;
        color: var(--superarte-green);
        position: absolute;
        height: 80%;
        left: 6%;
        z-index: 999;
        transition: left 150ms;

        &.move-right {
          left: 10% !important;
        }

        @media screen and (max-width: 799px) {
          transform: none !important;
          width: 100%;
          left: 0;
          display: flex;
          justify-content: center;
          height: auto;
          position: relative;

          &.move-right {
            left: 0 !important;
          }
        }
      }


      >:nth-child(2) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 3em;
        z-index: 1100;

        @media screen and (max-width: 1370px) {
          gap: 2em;
        }

        @media screen and (max-width: 799px) {
          margin-top: 12%;
        }

        span {
          border-radius: 100px;
          background-color: #fff;
          font-size: 4em;
          width: 100%;
          padding: .2em 1em;
          text-align: center;
          cursor: pointer;

          @media screen and (max-width: 1370px) {
            font-size: 3em;
          }
        }
      }

      .circles {
        position: absolute;
        right: 0;
        bottom: 0;
        width: auto;

        .violet-outlined-circle, .yellow-circle {
          width: 28vh;
          height: 28vh;
          border-radius: 50%;
          display: block;
          position: absolute;
          z-index: 99;
        }

        .violet-outlined-circle {
          border: 1px solid var(--superarte-violet);
          bottom: 3.5vh;
          right: -2.5vw;

          @media screen and (max-width: 799px) {
            bottom: -11vh;
            right: -10vw;
            height: 20vh;
            width: 20vh;
          }
        }

        .yellow-circle {
          background-color: var(--superarte-yellow);
          bottom: -5vh;
          right: -1vw;

          @media screen and (max-width: 799px) {
            bottom: -18vh;
            right: -7vw;
            height: 20vh;
            width: 20vh;
          }
        }
      }

      .panel-nosotros {
        position: absolute;
        width: 90%;
        height: 75vh;
        background-color: #fff;
        top: 0;
        left: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 250ms;
        z-index: 1300;

        &--mision {
          @media screen and (min-width: 800px) {
            width: 50%;
            height: 50vh;
            top: 12%;
            left: 25%;
          }

          @media screen and (min-width: 1371px) {
            width: 50%;
            height: 60vh;
            top: 3%;
            left: 25%;
          }
        }

        @media screen and (max-width: 799px) {
          height: 55vh;
          top: 16vh;
        }

        &-close {
          position: absolute;
          right: 10px;
          top: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          mat-icon {
            height: 34px;
            width: 34px;
            font-size: 34px;
          }
        }

        &-container {
          width: 90%;
          height: 75%;

          // @media screen and (max-width: 799px) {
          //   overflow-y: auto;
          // }

          >div {
            width: 100%;
            height: 100%;

            >div {
              width: 100%;
              display: flex;
              justify-content: center;

              h2 {
                font-family: 'Bebas Neue';
                font-size: 4em;
                border-radius: 30px;
                color: #fff;
                padding: .2em 1em;

                @media screen and (max-width: 1370px) {
                  font-size: 3em;
                }

                @media screen and (max-width: 799px) {
                  font-size: 34px;
                }
              }

              h3 {
                font-size: 2.5em;
                color: #252523;

                @media screen and (max-width: 1370px) {
                  font-size: 1.5em;
                }

                @media screen and (max-width: 799px) {
                  text-align: justify;
                }
              }
            }
          }

          &-mision {

            &-content {
              height: 80%;
              padding-top: 5%;

              h3 {
                margin-top: 2em;
              }
            }

            h2 {
              background-color: var(--superarte-green);
            }
          }

          &-vision {

            &-content {
              display: block;
              display: flex;
              flex-direction: column;

              @media screen and (min-width: 800px) {
                padding-inline: 130px;
              }

              h3 {
                font-size: 2em !important;

                @media screen and (max-width: 1370px) {
                  font-size: 1.5em !important;
                }

                @media screen and (max-width: 799px) {
                  font-size: 18px !important;
                }

                span {
                  font-size: 2.5em;
                  color: var(--superarte-light-blue);
                }
              }

              .subtitle {
                font-size: 2.5em;
                margin-top: 1em;
                text-align: left;

                @media screen and (min-width: 799px) {
                  padding-left: 10px;
                }

                @media screen and (max-width: 1370px) {
                  font-size: 2em;
                }

                @media screen and (max-width: 799px) {
                  font-size: 24px;
                }
              }
            }

            h2 {
              background-color: var(--superarte-light-blue);
            }
          }

          &-historia {
            padding-bottom: 2em;

            &-content {
              @media screen and (max-width: 799px) {
                margin-top: 20px;
                height: -webkit-fill-available;;
                overflow-y: auto;
              }

              p {
                font-size: 1.5em;
                color: #252523;
                text-align: justify;
                margin-top: 2em;
                width: 75%;

                @media screen and (max-width: 799px) {
                  font-size: 18px;
                  width: 90%;
                }

                @media screen and (max-width: 1370px) {
                  font-size: 1.3em;
                }
              }
            }

            h2 {
              background-color: var(--superarte-violet);
            }
          }

          &-pilares {
            @media screen and (max-width: 799px) {
              display: flex;
              flex-direction: column;
            }

            &-content {
              display: block !important;
              height: -webkit-fill-available;
              overflow-y: auto;

              @media screen and (min-width: 800px) {
                padding-inline: 130px;
              }

              @media screen and (max-width: 799px) {
                margin-top: 20px;
                height: auto;
                overflow-y: auto;
                display: flex;
                flex-direction: column;
              }

              h3 {
                margin-top: 1em;
                font-size: 32px !important;

                @media screen and (min-width: 800px) {
                  text-align: center;
                }

                @media screen and (max-width: 799px) {
                  font-size: 24px !important;
                }

                @media screen and (max-width: 1370px) {
                  font-size: 20px !important;
                }

                span {
                  font-size: 2em;
                  color: var(--superarte-yellow);

                  @media screen and (max-width: 1370px) {
                    font-size: 1.5em;
                  }
                }
              }

              p {
                font-size: 18px;
                color: #252523;
                margin-top: 1em;

                @media screen and (min-width: 800px) {
                  text-align: center;
                }

                @media screen and (max-width: 1370px) {
                  font-size: 16px !important;
                }
              }
            }

            &-title {
              width: 100%;
              display: flex;
              justify-content: center;
            }

            h2 {
              background-color: var(--superarte-yellow);
            }
          }
        }
      }
    }

    .formacion {
      height: 75%;
      width: 100%;
      position: relative;

      .container {
        transform: rotate(-90deg);
        width: 80vh;
        position: absolute;
        bottom: 10vh;
        left: -2.5vw;
        top: 90px;

        @media screen and (max-width: 1370px) {
          top: 68px;
        }

        @media screen and (max-width: 799px) {
          top: 5vh;
          transform: none;
          width: 97%;
        }

        >div {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 2em;
          cursor: pointer;
          position: relative;

          h2 {
            font-family: 'Bebas Neue';
            font-size: 5em;
            color: #fff;

            @media screen and (max-width: 1370px) {
              font-size: 4em;
            }

            @media screen and (max-width: 799px) {
              font-size: 2.2em;
            }
          }

          img {
            height: 5em;
            transition: transform 150ms;

            @media screen and (max-width: 799px) {
              height: 2.2em;
            }
          }
        }

        &-medios {
          background-color: var(--superarte-yellow);
        }

        &-artes {
          background-color: var(--superarte-green);
        }

        &-musica {
          background-color: var(--superarte-violet);
        }

        &-grabacion {
          background-color: var(--superarte-light-blue);
        }

        &-ministerial {
          background-color: #fff;

          h2 {
            color: #252523 !important;
          }
        }

      }

      .panel-info {
        position: absolute;
        width: 0;
        height: 80vh;
        background-color: #fff;
        bottom: 0;
        transition: width 150ms;
        overflow-y: scroll;

        @media screen and (max-width: 799px) {
          height: 72vh;
        }

        >div {
          padding: 2em;
        }

        .panel-info-medios {
          h2 {
            color: var(--superarte-yellow);
            font-size: 3.5em;
            margin-bottom: .2em;
            font-family: 'Bebas Neue';
          }

          h3 {
            font-size: 1.5em;
            margin-bottom: 1em;
          }

          .download-button {
            background-color: var(--superarte-yellow);
          }

          @media screen and (max-width: 799px) {
            h2 {
              font-size: 48px;
            }

            h3 {
              font-size: 20px;
            }
          }
        }

        .panel-info-artes {
          h2 {
            color: var(--superarte-green);
            font-size: 3.5em;
            margin-bottom: .2em;
            font-family: 'Bebas Neue';
          }

          h3 {
            font-size: 1.5em;
            margin-bottom: 1em;
          }

          h4 {
            font-size: 1.5em;
            color: var(--superarte-green);
            font-weight: bold;
          }

          span {
            height: 2px;
            width: 27%;
            background-color: var(--superarte-green);
            margin-block: .2em;
            display: block;
          }

          .download-button {
            background-color: var(--superarte-green);
          }

          @media screen and (max-width: 799px) {
            h2 {
              font-size: 48px;
            }

            h3 {
              font-size: 20px;
            }
          }
        }

        .panel-info-musica {
          h2 {
            color: var(--superarte-violet);
            font-size: 3.5em;
            margin-bottom: .2em;
            font-family: 'Bebas Neue';
          }

          h3 {
            font-size: 1.5em;
            margin-bottom: 1em;
          }

          .download-button {
            background-color: var(--superarte-violet);
          }

          @media screen and (max-width: 799px) {
            h2 {
              font-size: 48px;
            }

            h3 {
              font-size: 20px;
            }
          }
        }

        .panel-info-grabacion {
          h3 {
            font-size: 1.5em;
            display: inline;
          }

          h2 {
            color: var(--superarte-light-blue);
            font-size: 3.5em;
            margin-bottom: .2em;
            font-family: 'Bebas Neue';
          }

          span {
            color: var(--superarte-light-blue);
            display: inline;
            font-size: 4em;
          }

          .download-button {
            background-color: var(--superarte-light-blue);
            margin-top: 1em;
          }

          @media screen and (max-width: 799px) {
            h2 {
              font-size: 48px;
            }

            h3 {
              font-size: 20px;
            }
          }
        }

        .panel-info-ministerial {
          h3 {
            font-size: 1.5em;
            display: inline;
          }

          h2 {
            color: #252523;
            font-size: 3em;
            margin-block: .5em;
            font-family: 'Bebas Neue';
          }

          span {
            color: #252523;
            display: inline;
            font-size: 4em;
          }

          @media screen and (max-width: 799px) {
            h2 {
              font-size: 48px;
            }

            h3 {
              font-size: 20px;
            }
          }
        }

        &::-webkit-scrollbar {
          width: 12px;
        }

        &::-webkit-scrollbar-track {
          background: transparent;
        }

        &::-webkit-scrollbar-thumb {
          background-color: #bbb;
          border-radius: 20px;
          border: none;
        }
      }
    }

    .staff {
      display: flex;
      justify-content: space-between;
      padding: 0 7%;
      width: 100%;
      gap: 50px;

      @media screen and (max-width: 1370px) {
        padding: 0 5%;
      }

      @media screen and (max-width: 799px) {
        flex-direction: column;
        align-items: center;
        gap: 2em;
        margin-top: 1em;
      }

      .images {

        @media screen and (max-width: 799px) {
          width: 100%;
        }

        >:nth-child(2) {
          margin-top: 5%;
        }

        > div {
          display: flex;
          gap: 0;
          padding-block: 25px;

          @media screen and (max-width: 799px) {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 2em;
          }

          >div {
            display: flex;
            justify-content: center;
            width: 100%;

            @media screen and (max-width: 799px) {
              flex-direction: column;
              align-items: center;
              gap: 1em;
            }

            img {
              width: 60%;
              border-radius: 100%;

              @media screen and (max-width: 1370px) {
                width: 50%;
              }

              @media screen and (max-width: 799px) {
                width: 100px;
              }
            }

            span {
              font-size: 2.5em;
              color: var(--superarte-violet);

              @media screen and (max-width: 799px) {
                font-size: 18px;
              }
            }

            .title {
              font-size: 3em;

              @media screen and (max-width: 799px) {
                font-size: 28px;
              }
            }

            .name {
              font-size: 2.5em;

              @media screen and (max-width: 799px) {
                font-size: 24px;
              }
            }
          }

          .names {
            display: flex;
            flex-direction: column;
            justify-content: center;

            span {
              text-align: end;
              width: 100%;

              @media screen and (max-width: 799px) {
                text-align: left;
              }
            }
          }
        }
      }

      .info {
        .info-yellow-circle {
          width: 30vw;
          height: 30vw;
          background-color: var(--superarte-yellow);
          border-radius: 50%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 2.5em;

          @media screen and (max-width: 799px) {
            width: 80vw;
            height: 80vw;
          }

          div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            b, span {
              font-size: 1.5em;
              font-family: 'bahnschrift';
              color: #252523;

              @media screen and (max-width: 1370px) {
                font-size: 1.2em;
              }

              @media screen and (max-width: 799px) {
                font-size: 1em;
              }
            }

            b {
              font-weight: bold;
            }
          }
        }
      }
    }

    .sedes {
      height: 75%;
      width: 100%;
      padding: 0 5%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .content {
        display: flex;
        align-items: center;
        gap: 2em;
        position: relative;
        justify-content: space-between;

        @media screen and (max-width: 799px) {
          flex-direction: column;
        }

        h2 {
          color: #fff;
          font-size: 6em;
          font-family: 'Bebas Neue';
        }

        .blue-line {
          height: 2px;
          background-color: var(--superarte-light-blue);

          @media screen and (max-width: 799px) {
            display: none;
          }
        }

        .blue-line-1 {
          width: 29vw;
        }

        .blue-line-2 {
          width: 25.5vw;
        }

        &__title {
          gap: 1em;
          justify-content: center;

          @media screen and (max-width: 799px) {
            h2 {
              font-size: 4em;
            }
          }
        }

        &__info {
          width: 100%;
          height: auto;

          div {
            border-radius: 100px;
            background-color: var(--superarte-violet);
            padding-block: 1em;
            height: 20vh;
            width: 45%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            @media screen and (max-width: 799px) {
              width: 90%;
              height: auto;
              aspect-ratio: 1/1;
              border-radius: 200px;
              justify-content: center;
            }

            p {
              font-size: 2em;
              color: #252523;

              @media screen and (max-width: 1370px) {
                font-size: 1em;
              }

              @media screen and (max-width: 799px) {
                font-size: 1.2em;
              }
            }
          }
        }

        div {
          display: inline-flex;
          align-items: center;
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

.download-button-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

a {
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 100px;
  padding: 14px 28px;
  color: #fff;
  background-color: #252525;
  width: auto;
  display: inline-flex;
}
